<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Document</li>
  </ol>
</nav>

<div class="view-document p-5">
  {{#each rows}}
  <div class="row">
    <div class="col">
    
      <table>
        <tr>
            <th scope="col" style="font-size: 30px;">{{this.title}}</th>
        </tr>
        <tr>
          <td>{{this.domfor}} , {{this.DibOrDisu}} As of : {{this.date}}</td>
        </tr>
        <div class="col-6 d-flex justify-content-end">
            <a href="/addVulnerabilities/{{this.id}}" type="button" class="btn btn-primary align-self-center">+ Add Vulnerability</a>
       </div>
      </table>
    
      <table class="table">
        <tr>
            <th scope="col">Developments</th>
        </tr>
        <tr>
          <td scope="col">{{this.body}}</td>
        </tr>
      </table>
    
      <table class="table">
        <tr>
            <th scope="col">Analysis</th>
        </tr>
        <tr>
            <td scope="col">{{this.assessment}}</td>
        </tr>
      </table>
      
      <table class="table">
        <tbody>
          <tr>
            <td><a href="/downloadDisuAsWord/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi-download"></i> Download {{this.DibOrDisu}} as Word file</a></td>
          </tr>
        </tbody>
      </table>
    
    </div>
  </div>
  {{/each}}
</div>